*{
    font-family: Lato, "Microsoft YaHei", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background-color: #000000;*/
}

body{
    -webkit-transition: background-color .8s;
    -moz-transition: background-color .8s;
    -ms-transition: background-color .8s;
    -o-transition: background-color .8s;
    transition: background-color .8s;
}
.ball{
    position: absolute;
    left:0;
    top:0;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    transition: background .5s;
    /*animation: rotate 3s linear infinite alternate;*/
}


.ball.plus:before{
    position: absolute;
    content: '+1';
    color: #f96;
    animation: plus 2s;
    font-size:25px;
    font-weight: bold;
}

.ball.desc:before{
    position: absolute;
    content: '-1';
    color: #7ed321;
    animation: plus 2s;
    font-size:25px;
    font-weight: bold;
}

.ball:after{
    content: '.';
    color: transparent;
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    top: -10px;
    left:-10px;
    background-image: url('../img/gg.png');
    animation: rotate 3s infinite;
}

.food1,.bomb{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    animation: spark 1s infinite alternate;
}

.food2{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    animation: shake 1s infinite  .5s alternate;
}

@-webkit-keyframes plus {
    from {
        margin-top:0;
    }
    to {
        margin-top:-80px;
        opacity: 0;
    }

}



@keyframes plus {
    from {
        margin-top:0;
    }
    to {
        margin-top:-80px;
        opacity: 0;
    }

}




@-webkit-keyframes desc {
    from {
        margin-top:0;
    }
    to {
        margin-top:80px;
        opacity: 0;
    }

}



@keyframes desc {
    from {
        margin-top:0;
    }
    to {
        margin-top:80px;
        opacity: 0;
    }

}

@-webkit-keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }

}



@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }

}

@-webkit-keyframes spark {
    from{
        transform: scale(.9);
    }
    to{
        transform: scale(1.1);
    }

}

@keyframes spark {
    from{
        transform: scale(.9);
    }
    to{
        transform: scale(1.1);
    }
}

@-webkit-keyframes shake {
    from{
        transform: rotate(20deg);
    }
    to{
        transform: rotate(-20deg);
    }

}

@keyframes shake {
    from{
        transform: rotate(20deg);
    }
    to{
        transform: rotate(-20deg);
    }
}


.blood-line{
    position: absolute;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right:auto;
    bottom:20px;
    width: 90%;
    height: 20px;
    line-height: 20px;
    background-image: linear-gradient(to right,#30fff8,#30fff8);
    background-size:0 100%;
    background-repeat:no-repeat;
    text-align: center;
    transition: all .5s;
    background-color: rgba(255,255,255,.4);
}

.temp{
    display: flex;
    width:120px;
    position: absolute;
    right: 20px;
    top: 50px;
}

.temp img{
    width: 30px;
}

.temp-text{
    display: flex;
    flex-direction: column;
    font-size: 34px;
    margin-right:10px;
    color:#67ff00;
    /*background-color: #000000;*/
}

.mask{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: -5000px;
    width: 100%;
    height: 100%;
    z-index:100000;
    background-color: rgba(0,0,0,.8);
    color: #67ff00;
    transition: all .5s;
    text-align: center;
    font-size:72px;
}